<%- include ('../partials/head') %>
<%- include ('../partials/menu', { pageType: 'login' }) %>

<main>
  <div class="container mt-5">
    <% if (locals.registered) { %>
      <div class="alert alert-success" role="alert">
        Registration successful. Have fun SkineeDipping!
      </div>
    <% } %>

    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card border-0">
          <div class="card-body">
            <form action="/login" method="POST">
              <h1 class="text-center mb-4">Login</h1>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
              </div>
              <div class="d-grid gap-2">
                <input type="submit" value="Login" class="btn btn-primary">
              </div>
            </form>
            <div class="text-center mt-3">
              <p>Don't have an account? <a href="/register">Register</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
