<%- include ('../partials/head') %>
<%- include ('../partials/menu', { pageType: 'user' }) %>

<div class="user-profile">
    <div class="profile-header">
        <img id="profile-picture" src="/path/to/default/image.jpg" alt="Profile Picture">
        <div class="user-info">
            <h2 id="user-name">User Name</h2>
            <p id="user-description" contenteditable="true">I like SkinnyDipping</p>
        </div>
    </div>
    <div class="user-products">
        <h3>Products I'm Following</h3>
        <div id="products-container">
            <!-- Products will be inserted here -->
            <p id="no-products-message">I am too poor to buy skins</p>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>
