/* Custom styles for input fields */
.form-control {
    border: 3px solid #A9A9A9; /* Larger border */
    background-color: transparent; /* Transparent background */
    color: #A9A9A9; /* Light grey text color */
}

/* Remove focus highlight */
.form-control:focus {
    background-color: transparent;
    border-color: #A9A9A9;
    box-shadow: none;
}

/* Custom styles for buttons */
.btn-primary {
    background-color: transparent; /* Dark grey background */
    color: white; /* White text */
    border: 2px solid #007BFF; /* Larger border */
}

/* Hover and active states for buttons */
.btn-primary:hover, .btn-primary:active {
    background-color: #007BFF; /* Medium blue */
    color: white;
}

/* Custom styles for paragraphs and links */
p, a {
    color: #A9A9A9; /* Light grey text color */
}

/* Custom styles for the container */
.container {
    width: 95%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/* Set the background color of the body */
body {
    background-color: rgb(79, 79, 104); /* Dark grey background */
}

/* Additional styles for alert messages */
.alert {
    border: 2px solid #f40909; /* Larger border for alerts */
}
